#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

.logo {
  height: 1.5em;
  padding-left: 0.25em;
  padding-right: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.content {
  min-width: 1200px;
}
