name: ci-pipeline
on: [workflow_dispatch, push]
jobs:
  ci-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Check formatting
        run: npm run prettier
      
      - name: Check types
        run: npm run typecheck

      - name: Check linting
        run: npm run lint
      
      - name: Execute tests
        run: npm run test

      - name: Execute build
        run: npm run build
